

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dev" class="com.telusko.Dev">
        <!-- Setter Injection -->
        <!-- <property name="age" value="12" /> -->

        <!-- Constructor Injection -->
        <!-- <constructor-arg value="14" /> -->

        <!-- <property name="laptop" ref="lap1" /> -->
        <constructor-arg ref="lap1" />


</bean>

<!--    <bean id="dev2" class="com.telusko.Dev">-->
<!--    </bean>-->


    <bean id="lap1" class="com.telusko.Laptop">
    </bean>


</beans>